.dark_theme{
    .middle_visual_wrap{background-color:#7275f6;}
    .middle_visual_main_copy{color:#fff !important;}
    .middle_visual_sub_copy{color:#fff !important;}
    .middle_visual_pixin{
        background-image:url("../images/main_visual_dark.jpg");
        &.bg_type2{
            background-image:url("../images/sub_visual_dark.jpg");
        }
        &.bg_type3{
            background-image:url("../images/sub_visual_02_dark.jpg");
        }
    }

    .personal_flexbox_long_cols{background-color:#404050;}
    .personal_flexbox_short_cols{background-color:#404050;}
    .personal_caption_thumnail{background-color:#30303a;}

    .board_linkage_title{color:#fff;}
    .board_linkage_box{background-color:#30313a;border:0;}
    .ico_board{background-color:#585cf2;background-image:url("../images/ico_mike_40_w.png");background-size:rem(31) rem(42);}
    .board_linkage_ico{background-image:url("../images/ico_docu_18_dark.png");}
    .board_linkage_else,
    .board_linkage_item{color:#fff;}

    .btn_more_ico{
        &:before,
        &:after{background-color:#fff;}
    }

    .wallet_flexbox_title{color:#fff;}
    .ico_wallet{background-image:url("../images/ico_wallet_45_dark.png");}
    .wft_value_text,
    .wft_value{color:#0082ff;}
    .ico_wft{background-color:#0082ff;}

    .wft_guide_para,
    .wft_summary_para,
    .wft_value_else{color:#fff;}

    .wallet_flexbox_total_row{border-bottom:1px solid rgba(255,255,255,.1)}
    .wft_data_list{
        > li{border-top:1px solid rgba(255,255,255,.1)}
    }
    .wallet_flexbox_btn_row{border-top:1px solid rgba(255,255,255,.1)}
    .btn_link_box{border-color:#404149;background-color:#404149;}
    .btn_link_box_text{color:#fff;
        &:after{border-color:#fff;}
    }


    .copy_guide_card_wrap{
        &.type2{
            border-top-color:rgba(255,255,255,.4)
        }
    }
    .copy_guide_card{background:#30313a;}
    .btn_copy_box{
        background:#45464e;

        &.type2{
            background-color:#585cf2;
        }
    }
    .btn_copy_box_text{color:#fff;}

    .submenu_item_list{background:#30313a;
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.12);
    }
    .submenu_two_list{background:#30313a;}

    .wallet_flexbox_contents{border:0;background-color:#30313a;}

    .sub_title{color:#fff;}

    .card_pro_render{background-color:#1b1b22;}

    select.form_select{color:#fff;border:1px solid rgba(255,255,255,.4);
        background-color:transparent; background-image:url("../images/ico_select_allow_w.png");
    
        &::-ms-value {background: none; color:#fff;}
        &::-ms-expand {display: none;}
        &.ready_select{color:#9c9c9c;}
    }

    input.form_input{border:1px solid rgba(255,255,255,.4); background-color:transparent; color:#fff;}
    .btn_ico_submit{border:1px solid rgba(255,255,255,.4); background-color:transparent; background-image:url("../images/ico_search_40_w.png");}

    .rendar_bar_item{background-color:#1b1b22;border-color:#1b1b22;}
    .rendar_bar_ico{background-image:url("../images/ico_wallet_33_w.png")}
    .data_primary_text,
    .rendar_bar_text{color:#fff;}
    .data_item_list{
        > li{border-bottom-color:rgba(255,255,255,.1)}
    }

    
    /* pagination */
    .paginate_button{
        > a{border-color:rgba(255,255,255,.4);background: transparent;color:rgba(255,255,255,.7)}
        &.previous a:after, 
        &.next a:after{border-color:rgba(255,255,255,1);}
        &.active > a{border-color: #1b1b22;color:#fff;background-color:#1b1b22;}
    }


    .card_box{background:#30313a;border-color:#30313a;}

    .step_bar_current_box,
    .card_title_row{
        border-color:rgba(255,255,255,.4)
    }

    .step_ckey_text,
    .step_cvalue_text,
    .step_getbar_fraction,
    .step_chart_caption_para,
    .import_para_text,
    .card_title{color:#fff;}

    .sc_box_row,
    .sc_box_container{border-color:rgba(255,255,255,.4)}

    .sc_process_label_cols{background-color:transparent}
    .sc_process_bullet_cols{background-color:#26272f;}
    .sc_process_tail{background-image:url("../images/end_img_w.png");background-color:#26272f;}

    .sc_form_label{color:#fff;}

    .finish_main_copy{color:#fff;}
    .finish_sub_copy{color:#fff;}

    .rendar_fieldset_title,
    .sctab_box_text{color:#fff;}
    .sctab_box_list{background: transparent;}

    .rendar_fieldset_row{background-color:#1b1b22;border-color:#1b1b22;}

    .guide_scbox{background-color:#1b1b22;border-color:#1b1b22;}
    .ico_guide_scbox{border-color:rgba(255,255,255,.4); background-image:url("../images/ico_tong_40_w.png"); background-color:transparent}
    .guide_sckeyword{background: transparent;border-color:rgba(255,255,255,.4);color:#fff;}
    .guide_scbox_copy{color:#fff;}
    .obj_value_text{color:#fff;}
    .obj_tail_data_list{color:#fff;}
    .history_box_item{border-color:rgba(255,255,255,.4)}
    .history_box_caption{color:#fff;}
    .card_history_title_row{background: transparent;border-color:rgba(255,255,255,.4);color:#fff;}
    .obj_key_cols{background: transparent;}
    .obj_item_caption,
    .tail_data_para,
    .status_obj_key,
    .obj_item_util_text{color:#fff;}
    .card_history_box{border-color:rgba(255,255,255,.4);}

    .note_import_box{
        border-color:rgba(255,193,193,.4);
        &:before{}
    }
    .note_import_para{color:#fff;}
    .obj_key_cols{color:#fff;}
}


@media (max-width:1023px){
    .dark_theme{
        .middle_visual_pixin{
            background-image:url("../images/bg_visual_dark.png") !important;
        }
        .sc_process_item_list_wrap{
            background-color:transparent;
        }
    }
}