
/* 공통 요소 */
.text_emp_sky{color:#5c84f9 !important;
    *{color:#5c84f9 !important}
}
.text_emp_red{color:#f84242 !important;
    *{color:#f84242 !important}
}
.text_emp_red{}
.color_emp_black{color:#000 !important;}
.color_emp_red{color:#e62453 !important;}
.color_emp_purple{color:#511bb4 !important;}
.color_emp{color:#e62453 !important;}
.mb_br{display:none !important;}
.font_bold{font-weight:500 !important;}
.font_boldx2{font-weight:700 !important;}
html.smooth{scroll-behavior: smooth;}
.word_break,
.word_break *{word-break: keep-all;}
.mt5{margin-top:rem(5) !important;}
.mt10{margin-top:rem(10) !important;}
.mt20{margin-top:rem(20) !important;}
.mt30{margin-top:rem(30) !important;}
.mt40{margin-top:rem(40) !important;}
.mt50{margin-top:rem(50) !important;}
.mt60{margin-top:rem(60) !important;}
.mt70{margin-top:rem(70) !important;}
.mt80{margin-top:rem(80) !important;}
.mt90{margin-top:rem(90) !important;}
.mt100{margin-top:rem(100) !important;}

.respon_mt10{margin-top:rem(10) !important;}
.respon_mt20{margin-top:rem(20) !important;}
.respon_mt30{margin-top:rem(30) !important;}
.respon_mt40{margin-top:rem(40) !important;}
.respon_mt50{margin-top:rem(50) !important;}
.respon_mt60{margin-top:rem(60) !important;}
.respon_mt70{margin-top:rem(70) !important;}
.respon_mt80{margin-top:rem(80) !important;}
.respon_mt90{margin-top:rem(90) !important;}
.respon_mt100{margin-top:rem(100) !important;}

.respon_mb10{margin-bottom:rem(10) !important;}
.respon_mb20{margin-bottom:rem(20) !important;}
.respon_mb30{margin-bottom:rem(30) !important;}
.respon_mb40{margin-bottom:rem(40) !important;}
.respon_mb50{margin-bottom:rem(50) !important;}
.respon_mb60{margin-bottom:rem(60) !important;}
.respon_mb70{margin-bottom:rem(70) !important;}
.respon_mb80{margin-bottom:rem(80) !important;}
.respon_mb90{margin-bottom:rem(90) !important;}
.respon_mb100{margin-bottom:rem(100) !important;}

.respon_mboth50{margin-left:rem(50) !important;margin-right:rem(50) !important;}
.respon_mboth60{margin-left:rem(60) !important;margin-right:rem(60) !important;}
.respon_mboth70{margin-left:rem(70) !important;margin-right:rem(70) !important;}
.respon_mboth80{margin-left:rem(80) !important;margin-right:rem(80) !important;}
.respon_mboth90{margin-left:rem(90) !important;margin-right:rem(90) !important;}
.respon_mboth100{margin-left:rem(100) !important;margin-right:rem(100) !important;}


.max_wid50{width:50% !important;}
.max_wid60{width:60% !important;}
.max_wid70{width:70% !important;}
.max_wid80{width:80% !important;}
.max_wid90{width:90% !important;}
.max_wid100{width:100% !important;}
.align_left{text-align: left !important;}
.align_right{text-align: right !important;}
.text_center{text-align: center !important;}
.text_right{text-align: right !important;}
.flex_right{display:flex;justify-content: flex-end;}
.pc_wid180{width:180px !important;}
.pc_wid220{width:220px !important;}
.emp_green,.emp_green *{color:#511bb4 !important;}

.flex_grid{display:flex;align-items: center;
    &.align_right{justify-content: flex-end;}
    &.align_both{justify-content: space-between;}
}
.padding_box_10_15{padding:rem(10) rem(15) !important;}
.padding_box_10{padding:rem(10) !important;}
.padding_box_20{padding:rem(20) !important;}
.padding_box_30{padding:rem(30) !important;}
.padding_box_40{padding:rem(40) !important;}
.padding_box_50{padding:rem(50) !important;}

.fontsize_12{font-size:rem(12) !important;}
.fontsize_13{font-size:rem(13) !important;}
.fontsize_14{font-size:rem(14) !important;}
.fontsize_15{font-size:rem(15) !important;}
.fontsize_16{font-size:rem(16) !important;}
.fontsize_17{font-size:rem(17) !important;}
.fontsize_18{font-size:rem(18) !important;}
.fontsize_19{font-size:rem(19) !important;}
.fontsize_20{font-size:rem(20) !important;}

.flex_title_wrap{display:flex;text-align: center;gap:rem(45);margin-bottom:rem(20);}
.flex_title_cols{flex:1;}
.flex_title{font-size:rem(22);color:#2b2b2b;line-height:1; font-weight:500;}
.flex_contents_box_both{display:flex; gap: rem(45);}
.flex_contents_box{flex:1; border:1px solid #cccccc; border-radius:rem(5); text-align: center;display:flex;flex-direction: column;}
.flex_inner_primary_row{
    flex:1; min-height:0; padding:rem(30); display:flex; flex-direction: column; justify-content: flex-end;
    .inline_contents_wrap{}
    .code_box{margin:rem(20) auto rem(15);}
}
.flex_inner_else_row{
    flex:0; border-top:1px solid #e7e7e7; padding:rem(27);
    .btn_submit_box{}
}
.inline_contents_wrap{display:flex;justify-content: center;align-items: center;gap:rem(10);}
.inline_contents_long{}
.inline_contents_short{
    .btn_function_box{}
}
.inline_contents_para{font-size:rem(16); color:#4e4e4e;}
.btn_function_box{display:inline-block;white-space: nowrap;font-size:rem(16);color:#4e4e4e; border:1px solid #cacaca; border-radius: rem(100); min-width:rem(110); text-align: center; padding:rem(5) rem(25) ; box-sizing: border-box;}
.code_box{
    display:flex;justify-content: center; align-items: center; border:rem(5) solid #343434; border-radius:rem(40); width:rem(200);height:rem(200); margin:0 auto;
}
.code_box_img{}

.flex_mobile_title_row{display:none;}

.chkrd_item{display:flex;line-height:0;font-size:0;}
.chkrd{cursor:pointer;-webkit-appearance: none; appearance: none; -moz-appearance: none; -ms-appearance:none;vertical-align:middle;background:url("../images/ico_circhk.png") no-repeat 0 0/100% auto;width:21px;height:21px;border-radius:100%;border:1px solid #a6a6a6;flex:0 0 21px;display:inline-block;}
.chkrd_label{cursor:pointer;font-size:16px;padding-top:2px;color:#444444;display:inline-block;line-height:1;margin-left:8px;vertical-align:middle;}
.chkrd_label:before{}
.chkrd.checked{background-position:0 -21px;border-color:#3f4858;background-color:#3f4858;}
.chkrd:checked{background-position:0 -19px;border-color:#3f4858;background-color:#3f4858;}
.chkrd:checked + .chkrd_label{}
.chkrd:checked + .chkrd_label:before{}

.indent_list{
    > li{
        display:flex; margin-bottom:rem(5);
        &:last-of-type{margin:0}
    }
}
.indent_bullet{flex:0;margin-right:rem(5)}
.indent_item{flex:1;}

.select_search{width:100% !important; box-sizing: border-box;}
.select2{width:100% !important; box-sizing: border-box;}
.select2-dropdown{z-index:30;}
.select2-search{box-sizing: border-box;}
.select2-hidden-accessible{display:none;}
.select2-container--default{
    .select2-selection--single{
        display:flex;align-items: center;
        background: #fff url("../images/ico_select_allow.png") no-repeat 100% 50%/rem(38) auto;
        color:#333;font-size:rem(16);border:1px solid #cccccc;min-height: rem(50);padding:0 rem(55) 0 rem(20);border-radius:rem(4);box-sizing:border-box; appearance: none;width:100%;
        &.select2-container--open{

        }
        .select2-selection__rendered{padding:0;}
    }
}
.select2-container--default .select2-search--dropdown .select2-search__field{border-color:#ccc;height:rem(45);box-sizing: border-box; padding:0 rem(15);font-size:rem(16);color:#333;}
.select2-dropdown{border-color:#ccc;}
.select2-results__option{font-size:rem(16);padding:rem(10) rem(20)}
.select2-selection__arrow{
    display:none;
}

@media (max-width:1023px){
    [class*="max_wid"]{
        width:100% !important;
    }
    [class*="max_wid"]{
        width:100% !important;
    }
    [class*="respon_mboth"]{
        margin-left:0 !important;margin-right:0 !important;
    }

    .respon_mt10{margin-top:rem(5) !important;}
    .respon_mt20{margin-top:rem(10) !important;}
    .respon_mt30{margin-top:rem(15) !important;}
    .respon_mt40{margin-top:rem(20) !important;}
    .respon_mt50{margin-top:rem(25) !important;}
    .respon_mt60{margin-top:rem(30) !important;}
    .respon_mt70{margin-top:rem(35) !important;}
    .respon_mt80{margin-top:rem(40) !important;}
    .respon_mt90{margin-top:rem(45) !important;}
    .respon_mt100{margin-top:rem(50) !important;}

        
    .respon_mb10{margin-bottom:rem(5) !important;}
    .respon_mb20{margin-bottom:rem(10) !important;}
    .respon_mb30{margin-bottom:rem(15) !important;}
    .respon_mb40{margin-bottom:rem(20) !important;}
    .respon_mb50{margin-bottom:rem(25) !important;}
    .respon_mb60{margin-bottom:rem(30) !important;}
    .respon_mb70{margin-bottom:rem(35) !important;}
    .respon_mb80{margin-bottom:rem(40) !important;}
    .respon_mb90{margin-bottom:rem(45) !important;}
    .respon_mb100{margin-bottom:rem(50) !important;}
    


    .padding_box_20{padding:rem(15) !important;}
    .padding_box_30{padding:rem(20) !important;}
    .padding_box_40{padding:rem(20) !important;}
    .padding_box_50{padding:rem(25) !important;}

    .fontsize_14{font-size:rem(13) !important;}
    .fontsize_15{font-size:rem(14) !important;}
    .fontsize_16{font-size:rem(14) !important;}
    .fontsize_17{font-size:rem(15) !important;}
    .fontsize_18{font-size:rem(15) !important;}
    .fontsize_19{font-size:rem(16) !important;}
    .fontsize_20{font-size:rem(18) !important;}

        
    .flex_title_wrap{display:none;}
    .flex_title{font-size:rem(16);}
    .flex_contents_box_both{display:block}
    .flex_contents_box{
        margin-bottom:rem(20);
        &:last-of-type{margin-bottom:0;}
    }
    .flex_inner_primary_row{
        flex:1; min-height:0; padding:rem(30); display:flex; flex-direction: column; justify-content: flex-end;
        .inline_contents_wrap{}
        .code_box{margin:rem(20) auto rem(15);}
    }
    .flex_inner_else_row{
        flex:0; border-top:1px solid #e7e7e7; padding:rem(27);
        .btn_submit_box{}
    }
    .flex_mobile_title_row{display:block;margin:rem(30) 0 rem(15);text-align: center;}
    .inline_contents_wrap{display:block;}
    .inline_contents_long{}
    .inline_contents_short{
        margin-top:rem(10);
        .btn_function_box{}
    }
    .inline_contents_para{font-size:rem(16); color:#4e4e4e;}
    .btn_function_box{display:inline-block;white-space: nowrap;font-size:rem(16);color:#4e4e4e; border:1px solid #cacaca; border-radius: rem(100); min-width:rem(110); text-align: center; padding:rem(5) rem(25) ; box-sizing: border-box;}
    .code_box{
        display:flex;justify-content: center; align-items: center; border:rem(5) solid #343434; border-radius:rem(40); width:rem(200);height:rem(200); margin:0 auto;
    }
    .code_box_img{}

    .select2-container--default{
        .select2-selection--single{
            display:flex;align-items: center;
            font-size:rem(14);min-height: rem(40);padding: 0 rem(45) 0 rem(15);min-width:0;
            background-size:rem(30) auto;line-height: rem(36);
            &.select2-container--open{
    
            }
            .select2-selection__rendered{padding:0;}
        }
    }
    .select2-container--default .select2-search--dropdown .select2-search__field{height:rem(40);padding:0 rem(10);font-size:rem(14);}
    .select2-dropdown{border-color:#ccc;}
    .select2-results__option{font-size:rem(14);padding:rem(5) rem(15)}
}

/* 공통 alert confirm */
.btn_guide{display:inline-block;font-size:16px;padding:15px 30px;border:1px solid #ddd;}
.design_modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;min-width:280px;overflow:hidden;display:none;}

.design_modal_wrap.active{display:block;}
.design_modal_wrap.active.motion .bg_design_modal{background:rgba(0,0,0,.65);}
.design_modal_wrap.active.motion .design_modal{transform:translateY(0);opacity:1;}
.bg_design_modal{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);z-index:0;transition:.5s;}
.design_modal_tb{display:table;width:100%;height:100%;table-layout: fixed;z-index:5;position:absolute;top:0;left:0;}
.design_modal_td{display:table-cell;vertical-align: middle;padding:28px;}
.design_modal_w{display:flex;justify-content: center;align-items: center;width:100%;height:100%;}
.design_modal{position:relative;overflow: hidden;transform:translateY(-50%);transition:.5s;opacity:0;min-width:300px;border-radius:rem(10);}
.design_modal_cont_w{display:flex;align-items: center; justify-content: center;padding:20px;min-height:120px;box-sizing: border-box;}
.design_modal_text{}

.btn_dmsm_wrap{display:flex;align-items: center;justify-content: center;background:#511bb4;text-align:center;}
.btn_dmsm{height:54px;flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:1px solid transparent;border-right:1px solid rgba(255,255,255,.5);}
.btn_layerclose{display:block;width:50px;height:50px;position:absolute;top:0;right:0;font-size:0;line-height:0;}
.btn_layerclose:before,
.btn_layerclose:after{width:20px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#9d9d9d; margin:-1px 0 0 -10px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_layerclose:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_layerclose:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

@media(max-width:1023px){
 
}


/* 공통 alert confirm */
.btn_guide{display:inline-block;font-size:16px;padding:15px 30px;border:rem(1) solid #ddd;}
.pc_item{display:block !important;}
.mb_item{display:none !important;}
.design_popup_wrap,
.design_modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;min-width:280px;overflow:hidden;display:none;}
.design_popup_wrap{}
.design_popup_wrap.active,
.design_modal_wrap.active{display:block;}
.design_modal_wrap.active.motion .bg_design_modal{background:rgba(0,0,0,.65);}
.design_modal_wrap.active.motion .design_modal{transform:translateY(0);opacity:1;}
.bg_design_modal{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);z-index:0;transition:.5s;}
.design_modal_tb{display:table;width:100%;height:100%;table-layout: fixed;z-index:5;position:absolute;top:0;left:0;}
.design_modal_td{display:table-cell;vertical-align: middle;padding:28px;}
.design_modal_w{display:flex;justify-content: center;align-items: center;width:100%;height:100%;}
.design_modal{position:relative;overflow: hidden;transition:.5s;opacity:0;max-width:300px;border-radius:rem(10);margin:0 auto;}
.design_modal_cont_w{display:flex;align-items: center; justify-content: center;padding:20px;min-height:120px;box-sizing: border-box;flex-direction: column;background:#fff;}
.design_modal_text{}

.design_modal_maintext{font-size:rem(16); }
.design_modal_subtext{font-size:rem(13);margin-top:rem(10)}

.design_popup_tb{display:table;width:100%;height:100%;table-layout: fixed;z-index:5;position:absolute;top:0;left:0;}
.design_popup_td{display:table-cell;vertical-align: middle;padding:28px;}
.design_popup_item{background:#fff;position:relative;overflow: hidden;z-index:2;}
.design_popup_content_wrap{position:relative;overflow:hidden;overflow-y:auto;}
.design_bottom_popup_w{position:absolute;bottom:0;left:0;width:100%;background:#fff;}
.design_popup_content{}

.btn_dmsm_wrap{display:flex;align-items: center;justify-content: center;background:#3f4858;text-align:center;}
.btn_dmsm{height:54px;flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:rem(1) solid transparent;border-right:rem(1) solid rgba(255,255,255,.2);font-size:rem(14);}
.btn_popupsubmit_wrap{display:flex;align-items: center;justify-content: center;background:#3f4858;text-align:center;}
.btn_popupsubmit{height:54px;flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:rem(1) solid transparent;border-right:rem(1) solid rgba(255,255,255,.2);}
.btn_popupsubmit.swiper-button-next{
    position: initial;
    height:54px;flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:rem(1) solid transparent;border-right:rem(1) solid rgba(255,255,255,.2);
    background: none;
}
.design_popup_content_wrap .btn_close{position: absolute;top: 12px;right: 7px;width: 30px;height: 30px;background: url(../images/icon_close_black.png) center center no-repeat;background-size: 13px;transform: translate(0);}
.btn_layerclose{display:block;width:50px;height:50px;position:absolute;top:0;right:0;font-size:0;line-height:0;}
.btn_layerclose:before,
.btn_layerclose:after{width:20px;height:2px;display:block;content:'';position:absolute;top:50%;left:50%;background:#9d9d9d; margin:-1px 0 0 -10px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_layerclose:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_layerclose:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.emp_ctext,
.emp_ctext *{color:#ed4444;}

@media(max-width:1023px){
    .pc_item{display:none !important;}
    .mb_item{display:block !important;}
    .mb_br{display:block !important;}
}


/* button */
.btn_control_box{display:inline-block;border-radius:rem(100);border:1px solid rgba(255,255,255,.6);min-width:rem(98);box-sizing: border-box;padding:rem(5) rem(10);text-align: center;appearance: none;}
.btn_control_box_text{font-size:13px;color:#fff;line-height:1;display:inline-block;padding-right:rem(12);position:relative;
    &:after{
        display:block;content:'';width:rem(7);height:rem(7);border-right:1px solid #fff;border-top:1px solid #fff;transform: rotate(45deg); position:absolute;top:rem(3);right:0;
    }
}
.btn_link_box{
    display:inline-block; border:1px solid #e4e9ee; border-radius : rem(100); min-width:rem(100); box-sizing: border-box; text-align: center; padding:rem(5) rem(22);
}
.btn_link_box_text{display:inline-block;position:relative;padding-right:rem(13);font-size:rem(13);color:#4e4e4e;line-height:1;
    &:after{
        display:block;content:'';width:rem(7);height:rem(7); position:absolute;top:rem(3);right:rem(1); border-top:1px solid #7a7a7a; border-right:1px solid #7a7a7a; transform: rotate(45deg);
    }
}


/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;flex-wrap:wrap;
    &.active{display:flex;
        &.motion_end{
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.6;}
        }
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:rem(650);margin:rem(30) auto; max-height:calc(100% - rem(60)); background:#fff; border-radius:rem(10); border:1px solid #727272; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
    &.no_transition{transition:0s;opacity:1;transform:none;}
    &.notice_type{margin:0;display:block;max-height:100%;max-width:100%;
        // .popup_contentlow{overflow:visible;}
    }
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#000;opacity:0;transition:.5s;
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}
.popup_titlelow{text-align:center;border-bottom: rem(1) solid #c1c1c1;flex:0;padding:0 rem(74)}
.popup_title{font-size:rem(18);color:#282c33;padding:rem(23) rem(15);font-weight:500;}
.popup_contentlow{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:rem(12);color:#333333;}
.pcont_inwrap{padding:rem(30);}
.pcont_subtitle{font-size:rem(19);color:#1b1b1b;line-height:1.3;font-weight:500;}
.popup_btnlow{flex:0;border-top:rem(1) solid #e7e7e7;}

.btn_submitbox_w{display:flex;margin:0;padding:rem(25); justify-content: center;
    .btn_submitbox{margin:0 rem(2.5);
    
    }
}

.btn_submitbox{display:inline-block;word-break:keep-all;vertical-align:middle;box-sizing:border-box;border:0;font-size:rem(17); font-weight:500;text-align:center;min-width:rem(400);color:#fff;background:#3f4858;border-radius:rem(100);padding:rem(15) rem(20);

    &.inline_type{flex:0;min-width:inherit;white-space: nowrap;border-radius:rem(4);}
    &.small{font-size:rem(14);line-height:1;padding:rem(12)}
}

input.btn_submitbox{}

.btn_popup_close{display:inline-block;width:rem(78);height:rem(74);position:absolute;top:0;right:0;font-size:0;line-height:0;
    &:before,
    &:after{width:rem(20);height:rem(1);display:block;content:'';position:absolute;top:50%;left:50%;background:#646464; margin:rem(-0.5) 0 0 rem(-10);
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
}

.popup_confirm_copy_wrap{
    text-align: center; padding:rem(50) rem(30);
}
.popup_confirm_copy{font-size:rem(17);color:#333333; word-break: keep-all;}

// notice popup
.notice_popup_wrap{position:absolute;top:0;left:0;z-index:50;padding:0 rem(10);flex-wrap:wrap;box-sizing: border-box;overflow:hidden;overflow-y:auto;display:none;
    &.only_one{align-items: center;justify-content: center;width:100%;height:100%;position:fixed;padding:rem(20);
        .notice_popup_cols{padding:0;}
    }
    &.active{display:flex;}
}
.notice_popup_cols{padding:rem(20) rem(10) 0;flex:0;box-sizing:border-box; min-width:500px;
    .popup_item.notice_type{}
}
@media (max-width:1023px){
    .popup_item{margin:0 rem(20)}

    .popup_titlelow{padding:0 rem(50);}
    .popup_title{font-size:rem(16);padding:rem(13);}
    .btn_submitbox{display:block; text-align:center; font-size:rem(14);width:100%;min-width:0;}

    input.btn_submitbox{}

    .btn_popup_close{display:inline-block;width:rem(50);height:rem(50);
    }

    .popup_confirm_copy_wrap{
       padding:rem(40) rem(20);
    }

    .popup_confirm_copy{font-size:rem(14);}
    .btn_submitbox_w{padding:rem(20);}
    .btn_submitbox{}

    .notice_popup_wrap{padding:rem(15) 0;width:100%;
        &.only_one{
            padding:rem(15);
            .notice_popup_cols{width:100%;min-width:100%;}
        }
        &.active{display:block;}
    }
    .notice_popup_cols{padding:rem(10) rem(20) 0;flex:0;box-sizing:border-box; min-width:0;
        .popup_item.notice_type{}
    }
}
/* // 공통 popup */


/* pagination */
.pagination {text-align: center;line-height:0;font-size:0; padding:0 0 0;margin:rem(40) 0 rem(30);clear:both;}
.paginate_button{display:inline-block;
     > a{display: inline-block;margin:0 rem(5); font-weight:500; position:relative; width: rem(38);height: rem(38);border:rem(1) solid #dadada;border-radius:100%;background: #fff;line-height: rem(36);font-size:rem(16);white-space:nowrap;vertical-align: top;text-align: center;color:#6d6c6c;}
     > a:hover,
     &.active > a{border-color: #122232;color:#fff;background-color:#122232;}
     &.previous a:after, 
     &.next a:after{display: inline-block;content: '';margin:rem(15) 0 0 0;width: rem(6);height: rem(6);border-bottom: rem(1) solid #000;border-left: rem(1) solid #000;}
     &.previous a:after {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
     &.next a:after{transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
     &.previous a,
     &.next a{overflow: hidden;border:rem(1) solid #d9d9d9;font-size: 0;color:#fff;line-height: 0;}
     &.previous a:hover,
     &.next a:hover{border-color: #122232;}
     &.previous a:hover:after,
     &.next a:hover:after{border-color: #fff;}
     &.next a:after{position:relative;left:rem(-2);}
     &.previous{margin-right: rem(10);}
     &.next{margin-left: rem(10);}
     &.previous a:after{margin-left: rem(3)}
     &.next a:after{margin-right: 0}
}

@media (max-width: 767px) {
	.pagination{margin:rem(30) 0 rem(10);padding:0}
    .paginate_button{
        a {width: rem(26);height: rem(26);font-size:rem(13);line-height: rem(26);margin:0 rem(1);}
        &.previous a:after, 
        &.next a:after{margin-top: rem(9);}
        &.previous{margin: 0 rem(3) 0 0;}
        &.next{margin:0 rem(1) 0 rem(3);}
        &.next a:after{left:rem(-3);}
        &.previous a:after{margin-left:rem(3);}
    }
    .subcontent_box .pagination{margin-left:rem(-15);margin-right:rem(-15);}
    .ico_copy_obj::before{width:rem(60);height:rem(60);margin-bottom:rem(10)}
}
@media (max-width: 359px) {
	
    .paginate_button{
         a {width: rem(22);height: rem(22);font-size:rem(12);line-height: rem(22);margin:0 rem(1);}
        &.previous a:after, 
        &.next a:after{margin-top:rem(7);}
        &.previous{margin: 0 rem(1) 0 rem(1);}
        &.next{margin:0 rem(1) 0 rem(1);}
    }
}
@media (max-width: 319px) {
    .subcontent_box .pagination{margin-left:rem(-20);margin-right:rem(-20);}
}

/* form */



// component guide
.source_his_item{margin-bottom:rem(100)}
.source_his_item:last-of-type{margin-bottom:0}
.component_title{font-size:24px;color:#000;font-weight:700;border-bottom:2px solid #000;padding-bottom:rem(20);margin-bottom:rem(20)}
.component_title_sub{font-size:20px;color:#000;}
.textarea_size{box-sizing:border-box;width:100%;padding:20px;margin-top:rem(40);overflow:hidden;resize:none;}
.rendar_wrap{margin:rem(10) 0 0 0;}
.component_dep_wrap{}
.component_dep{margin-bottom:rem(40);}
.component_dep:last-of-type{margin-bottom:0;}
.icon_group{display:flex; align-items: center; flex-wrap: wrap; gap:rem(10);
    *{position: static !important;margin:0 !important;}
    .btn_bottom_go{position: static;}
}
@media (max-width:1023px){
    .component_title{font-size:rem(16)}
    
    .component_title_sub{font-size:rem(14)}
}