/* layout */
@media (prefers-color-scheme: dark) {
    body{background:#26272f;}
    .header_wrap{background:#585cf2;
        &::before{background-color:#fff;opacity:.3;}
    }
    .nav_depth_list_wrap{background:#585cf2;}
    .toplogo_link{background-image:url("../images/toplogo_w.png")}
    .nav_menu{color:#fff;
        &:after{background-color:#fff;}
    }
    .nav_depth_one{color:#fff;}
    .nav_else_item,
    .nav_depth_two{color:#fff; opacity:.7;}

        
    .hgroup_util_toggle_item{
         border:rem(1) solid rgba(255,255,255,.8); 
        .hgroup_util_item{background:#585cf2;
            &:after{border-right:1px solid rgba(255,255,255,.8);border-bottom:1px solid rgba(255,255,255,.8);}
        }
    }
    .ico_nation{background-image:url("../images/ico_earth_img_w.png")}
    .hgroup_util_item {
        .hgroup_util_text{color:#fff;}
    }
    .hgroup_util_option_list_wrap{background:#585cf2;border:1px solid rgba(255,255,255,.8);}
    .hgroup_util_option_list{
        > li{border-color:rgba(255,255,255,.3)}
    }
    .hgroup_option_item{color:#fff;}

    .btn_hgroup_menu{
        .menu_icon{background-image:url("../images/ico_total_menu_w.png");}
    }

    .btn_mb_menu{
        .menu_icon{
            background-image:url("../images/ico_total_menu_w.png");
        }
    }
    .mbutil_low{background:#585cf2;}
    .mobile_mainmenu_wrap{background:#26272f}
    .mbmenu_vlist{
        > li{border-bottom-color:rgba(255,255,255,.3)}
    }
    .mbmenu_one{color:#fff;opacity:.9}

    .footer_wrap{background-color:#1b1b20;}
    .footer_item_para{opacity:.4;}
    .btn_bottom_go{box-sizing: border-box;border:1px solid rgba(255,255,255,.1);background-color:#1c1c1c;}
}