
@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Bold.eot');
    src: url('./webfont/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Bold.woff2') format('woff2'),
         url('./webfont/NotoSans-Bold.woff') format('woff'),
         url('./webfont/NotoSans-Bold.ttf') format('truetype'),
         url('./webfont/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Regular.eot');
    src: url('./webfont/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Regular.woff2') format('woff2'),
         url('./webfont/NotoSans-Regular.woff') format('woff'),
         url('./webfont/NotoSans-Regular.ttf') format('truetype'),
         url('./webfont/NotoSans-Regular.svg#NotoSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Thin.eot');
    src: url('./webfont/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Thin.woff2') format('woff2'),
         url('./webfont/NotoSans-Thin.woff') format('woff'),
         url('./webfont/NotoSans-Thin.ttf') format('truetype'),
         url('./webfont/NotoSans-Thin.svg#NotoSans-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Black.eot');
    src: url('./webfont/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Black.woff2') format('woff2'),
         url('./webfont/NotoSans-Black.woff') format('woff'),
         url('./webfont/NotoSans-Black.ttf') format('truetype'),
         url('./webfont/NotoSans-Black.svg#NotoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Light.eot');
    src: url('./webfont/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Light.woff2') format('woff2'),
         url('./webfont/NotoSans-Light.woff') format('woff'),
         url('./webfont/NotoSans-Light.ttf') format('truetype'),
         url('./webfont/NotoSans-Light.svg#NotoSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-DemiLight.eot');
    src: url('./webfont/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-DemiLight.woff2') format('woff2'),
         url('./webfont/NotoSans-DemiLight.woff') format('woff'),
         url('./webfont/NotoSans-DemiLight.ttf') format('truetype'),
         url('./webfont/NotoSans-DemiLight.svg#NotoSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./webfont/NotoSans-Medium.eot');
    src: url('./webfont/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NotoSans-Medium.woff2') format('woff2'),
         url('./webfont/NotoSans-Medium.woff') format('woff'),
         url('./webfont/NotoSans-Medium.ttf') format('truetype'),
         url('./webfont/NotoSans-Medium.svg#NotoSans-Light') format('svg');
    font-weight: 500;
    font-style: normal;

}


@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url('./webfont/NanumSquareR.eot');
    src: local('☺'),
         url('./webfont/NanumSquareR.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareR.woff2') format('woff2'),
         url('./webfont/NanumSquareR.woff') format('woff'),
         url('./webfont/NanumSquareR.ttf') format('truetype');
   }
   @font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url('./webfont/NanumSquareB.eot');
    src: local('☺'),
         url('./webfont/NanumSquareB.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareB.woff2') format('woff2'),
         url('./webfont/NanumSquareB.woff') format('woff'),
         url('./webfont/NanumSquareB.ttf') format('truetype');
   }
   @font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url('./webfont/NanumSquareEB.eot');
    src: local('☺'),
         url('./webfont/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareEB.woff2') format('woff2'),
         url('./webfont/NanumSquareEB.woff') format('woff'),
         url('./webfont/NanumSquareEB.ttf') format('truetype');
   }
   @font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url('./webfont/NanumSquareL.eot');
    src: local('☺'),
         url('./webfont/NanumSquareL.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareL.woff2') format('woff2'),
         url('./webfont/NanumSquareL.woff') format('woff'),
         url('./webfont/NanumSquareL.ttf') format('truetype');
   }
   /* AC */
   @font-face {
    font-family: 'NanumSquareAc';
    font-weight: 400;
    src: url('./webfont/NanumSquareAcR.eot');
    src: local('☺'),
         url('./webfont/NanumSquareAcR.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareAcR.woff2') format('woff2'),
         url('./webfont/NanumSquareAcR.woff') format('woff'),
         url('./webfont/NanumSquareAcR.ttf') format('truetype');
   }
   @font-face {
    font-family: 'NanumSquareAc';
    font-weight: 700;
    src: url('./webfont/NanumSquareAcB.eot');
    src: local('☺'),
         url('./webfont/NanumSquareAcB.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareAcB.woff2') format('woff2'),
         url('./webfont/NanumSquareAcB.woff') format('woff'),
         url('./webfont/NanumSquareAcB.ttf') format('truetype');
   }
   @font-face {
    font-family: 'NanumSquareAc';
    font-weight: 800;
    src: url('./webfont/NanumSquareAcEB.eot');
    src: local('☺'),
         url('./webfont/NanumSquareAcEB.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareAcEB.woff2') format('woff2'),
         url('./webfont/NanumSquareAcEB.woff') format('woff'),
         url('./webfont/NanumSquareAcEB.ttf') format('truetype');
   }
   @font-face {
    font-family: 'NanumSquareAc';
    font-weight: 300;
    src: url('./webfont/NanumSquareAcL.eot');
    src: local('☺'),
         url('./webfont/NanumSquareAcL.eot?#iefix') format('embedded-opentype'),
         url('./webfont/NanumSquareAcL.woff2') format('woff2'),
         url('./webfont/NanumSquareAcL.woff') format('woff'),
         url('./webfont/NanumSquareAcL.ttf') format('truetype');
   }